body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul,li {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{ border-bottom: 1px solid #E7E9FC;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);}

.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{ display: flex;
      align-items: center;
        
      

}

.ul-header { display: flex;
             gap: 40px;        
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}



.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}

.dark{color: #2e2f42;}


.link-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav.active{color:#404bbf;}

.link-nav.active::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.link-nav:hover,
.link-nav:focus{
    color: #404bbf;}
    
.address{font-style: normal;}

.ul-address{ display: flex;
    gap: 40px;
}

.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus{color: #404bbf;}

.section-one{
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/heroimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
}

.section-one-name{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.section-one-buttom{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-one-buttom:hover,
.section-one-buttom:focus{background-color:#404bbf;}

.section-two{padding: 120px 0;}

.section-two-ul{ display: flex;
                 gap: 24px;
}

.section-two-ul .section-two-li{flex-basis: calc((100% - 72px) / 4);}


.section-two-icons{border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-team-characters{padding: 32px 0;}

.section-two-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-two-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team{background-color:#F4F4FD;
          padding-top: 120px;
          padding-bottom: 120px;
          }
.our-team-ul{display: flex;
             gap: 24px;
            }

.our-team-ul .our-team-li{ flex-basis: calc((100% - 72px) / 4);}

.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;}

.our-team-li{background-color:#FFF;
             border-radius: 0px 0px 4px 4px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            }

.our-team-li .section-two-h{ text-align: center;
                             }
                             
.our-team-Name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}

.our-team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.our-team-icons{display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icon-our-team{fill:#f4f4fd;}

.our-team-liicon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icon-li-ourteam:hover,
.icon-li-ourteam:focus{background-color: #404bbf;}

.icon-li-ourteam{display: flex;
        fill: #ffffff;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color:#4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio {padding-top: 120px; padding-bottom: 120px;} 

.our-portfolio-ul .our-portfolio-li{flex-basis: calc((100% - 48px) / 3);}

.our-portfolio-ul{ display: flex;
                   flex-wrap: wrap;
                   gap: 48px 24px;
                }

.our-portfolio{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.our-portfolio-h{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px
}

.our-portfolio-li:nth-last-child(1),
.our-portfolio-li:nth-last-child(2),
.our-portfolio-li:nth-last-child(3) {
    margin-bottom: 0;
}

.our-portfolio-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        border-top: none;
        position: relative;
        z-index: 1;
}

.our-portfolio-characters{ 
    padding: 32px 16px; 
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.our-portfolio-li{transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.our-portfolio-img{position: relative;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.portfolio-hidden{ position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    display: flex;
    justify-content: center;
    }


.our-portfolio-li:hover .portfolio-hidden {
    transform: translateY(0);
}

.our-portfolio-li:hover{box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);}

.footer{
    background: #2e2f42;
    padding: 100px 0;
    padding-bottom: 100px;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.light{color:#f4f4fd;}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-liicon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    }
    

.icon-a-footer{
    display: flex;
    width:100%;
    height:100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    background-color: #4d5ae5;}

.icon-a-footer:hover,
.icon-a-footer:focus{background-color:#31d0aa;}
    
.footer-ul{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: row;}

.footer-p{font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.container-footer{display: flex;
    align-items: baseline;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-text-div{margin-right:120px;}
.icon-footer {fill: #f4f4fd;}